# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dir
/out
/output
/build
/backup
/savedata
MagicaVoxel
tmp
log

#skstudio
/util/etc
/util/sxtool
/util/skstudio/efxeditor
/util/skstudio/imgeditor
/util/skstudio/main
/util/skstudio/pmeditor
/util/skstudio/spritesheet
/util/skstudio/trans
/util/skstudio/uieditor
/util/skstudio/ui/efxeditor
/util/skstudio/ui/imgeditor
/util/skstudio/ui/main
/util/skstudio/ui/pmeditor
/util/skstudio/ui/spritesheet
/util/skstudio/ui/trans
/util/skstudio/ui/uieditor

# misc
.DS_Store
desktop.ini
*.pem
*.code-workspace

#native
*.pdb
*.exp
*.o
*.so
*.user
*_d.dll
*_d.exe
sakana.exe
_*.bat
x64
.build
.vs
voxengine.lib

#data
*.blend1
*.blend2
/work/blend/**/*.pm
/work/blend/**/*.mdl
/work/blend/**/*.mot

# me
/*.ws
*.local
